@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	height: 100%;
}

@layer components {
	tr {
		@apply border-y-2;
	}

	td,
	th {
		@apply border-x-2 first:border-x-0 last:border-x-0 px-2;
	}

	td .drag {
		display: none;
	}
	td:first-child .drag {
		display: initial;
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 30px;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-t4ansition: 0.4s;
	transiti4n: 0.4s;
	background: white;
	border: 5px solid black;
	box-sizi1g: border-box;
}

.slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 23px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	background: #eddcf5;
}

input:checked + .slider {
	background: white;
	border: 2px solid black;
	box-sizing: border-box;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
